# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/packages/container/node_modules
/packages/auth/node_modules
/packages/dashboard/node_modules
/packages/marketing/node_modules

# production
/build
